@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    background-color: #E3CAA0;
    font-family: 'Inter', sans-serif;
    color: #030303;
    text-align: center;
}
h4 {
    background-color: #94B791;
    font-size: 30px;
    padding: 0px;
    margin: 30px;
}
form {
    background-color: #94B791;
    border-radius: 20px;
    overflow: hidden;
}
label {
    background-color: #94B791;
    text-align: left;
}
video {
    background-color: #94B791;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    margin-bottom: 30px;
}
#button {
    margin-bottom: 20px;
    font-size: large;
}